pip
docutils==0.18.1
sphinx>=5.0.0,<7.3.0
sphinx-tabs==3.4.4
sphinx-multiversion
sphinx-rtd-theme
sphinx-copybutton
sphinxcontrib-doxylink@git+https://github.com/sea-bass/doxylink.git@fix-parse-tag-file
