name: Website

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - humble

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  htmlproofer:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.8'
        cache: 'pip'

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade --requirement requirements.txt

    - name: Install doxygen and graphviz
      run: sudo apt-get install -y doxygen graphviz

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '2.7'

    - name: Run htmlproofer.sh
      run: ./htmlproofer.sh

  multiversion-with-api:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - uses: actions/setup-python@v4
      with:
        python-version: '3.8'
        cache: 'pip'

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade --requirement requirements.txt

    - name: Install doxygen and graphviz
      run: sudo apt-get install -y doxygen graphviz

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '2.7'

    - name: Build multiversion with API
      run: make multiversion-with-api

    - name: Create CNAME file
      run: echo "moveit.picknik.ai" > build/html/CNAME

    - name: Upload pages artifact
      uses: actions/upload-pages-artifact@v1
      if: github.repository_owner == 'ros-planning'
      with:
        path: build/html

  deploy:
    if: github.repository_owner == 'ros-planning' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: multiversion-with-api
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
