name: Build and Deploy Pages

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - humble
      - galactic
      - foxy

jobs:
  htmlproofer:
    name: htmlproofer
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.8'
        cache: 'pip'
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade --requirement requirements.txt
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '2.7'
    - name: Run htmlproofer.sh
      run: ./htmlproofer.sh

  deploy-multiversion:
    needs: htmlproofer
    if: ${{ github.event_name == 'push' }}
    name: Deploy Multiversion
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: actions/setup-python@v4
      with:
        python-version: '3.8'
        cache: 'pip'
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade --requirement requirements.txt
    - name: Install doxygen and graphviz
      run: sudo apt-get install -y doxygen graphviz
    - name: Build multiversion with API
      run: make multiversion-with-api
    - name: Deploy Pages
      if: ${{ success() }}
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./build/html
        cname: moveit.picknik.ai
