name: Build Tutorial Image

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build-images:
    strategy:
      fail-fast: false
      matrix:
        ROS_DISTRO: [rolling]
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    env:
      GH_IMAGE: ghcr.io/${{ github.repository }}:${{ matrix.ROS_DISTRO }}
      PUSH: ${{ (github.ref_name == 'main') }}

    steps:
      - name: Set lower case for container name
        run: |
          echo "GH_IMAGE_LC=${GH_IMAGE,,}" >>${GITHUB_ENV}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build Tutorial Image
        uses: docker/build-push-action@v6
        with:
          file: .docker/Dockerfile
          build-args: |
                ROS_DISTRO=${{ matrix.ROS_DISTRO }}
          target: tutorial_image
          push: ${{ env.PUSH }}
          no-cache: false
          tags: |
            ${{ env.GH_IMAGE_LC }}-tutorial
